<ion-view title="Adicionar Agência" id="page4">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="address">
                <input type="text" placeholder="Endereço da agência">
            </label>
            <label class="item item-select" name="bank">
                <span class="input-label">Banco</span>
                <select>
                    <option value="ABC Brasil S.A.">Banco ABC Brasil S.A.</option>
                    <option value="ABN AMRO S.A.">Banco ABN AMRO S.A.</option>
                    <option value="Alfa S.A.">Banco Alfa S.A.</option>
                    <option value="Alvorada S.A.">Banco Alvorada S.A.</option>
                    <option value="Andbank (Brasil) S.A.">Banco Andbank (Brasil) S.A.</option>
                    <option value="BANDEPE S.A.">Banco BANDEPE S.A.</option>
                    <option value="Barclays S.A.">Banco Barclays S.A.</option>
                    <option value="BBM S.A.">Banco BBM S.A.</option>
                    <option value="BM&FBOVESPA">Banco BM&FBOVESPA de Serviços de Liquidação e Custódia S.A</option>
                    <option value="BMG S.A.">Banco BMG S.A.</option>
                    <option value="BNP Paribas Brasil S.A.">Banco BNP Paribas Brasil S.A.</option>
                    <option value="Boavista Interatlântico S.A.">Banco Boavista Interatlântico S.A.</option>
                    <option value="Bonsucesso Consignado S.A.">Banco Bonsucesso Consignado S.A.</option>
                    <option value="Bonsucesso S.A.">Banco Bonsucesso S.A.</option>
                    <option value="Bradescard S.A.">Banco Bradescard S.A.</option>
                    <option value="Bradesco BBI S.A.">Banco Bradesco BBI S.A.</option>
                    <option value="Bradesco Cartões S.A.">Banco Bradesco Cartões S.A.</option>
                    <option value="Bradesco Financiamentos S.A.">Banco Bradesco Financiamentos S.A.</option>
                    <option value="Bradesco S.A.">Banco Bradesco S.A.</option>
                    <option value="BTG Pactual S.A.">Banco BTG Pactual S.A.</option>
                    <option value="Cacique S.A.">Banco Cacique S.A.</option>
                    <option value="Caixa Geral - Brasil S.A.">Banco Caixa Geral - Brasil S.A.</option>
                    <option value="Cargill S.A.">Banco Cargill S.A.</option>
                    <option value="Caterpillar S.A.">Banco Caterpillar S.A.</option>
                    <option value="CBSS S.A.">Banco CBSS S.A.</option>
                    <option value="Cetelem S.A.">Banco Cetelem S.A.</option>
                    <option value="Cifra S.A.">Banco Cifra S.A.</option>
                    <option value="Citibank S.A.">Banco Citibank S.A.</option>
                    <option value="CNH Industrial Capital S.A.">Banco CNH Industrial Capital S.A.</option>
                    <option value="Confidence de Câmbio S.A.">Banco Confidence de Câmbio S.A.</option>
                    <option value="Cooperativo do Brasil S.A. - BANCOOB">Banco Cooperativo do Brasil S.A. - BANCOOB</option>
                    <option value="Cooperativo Sicredi S.A.">Banco Cooperativo Sicredi S.A.</option>
                    <option value="Credit Agricole Brasil S.A.">Banco Credit Agricole Brasil S.A.</option>
                    <option value="Credit Suisse (Brasil) S.A.">Banco Credit Suisse (Brasil) S.A.</option>
                    <option value="CSF S.A.">Banco CSF S.A.</option>
                    <option value="Amazônia S.A.">Banco da Amazônia S.A.</option>
                    <option value="China Brasil S.A.">Banco da China Brasil S.A.</option>
                    <option value="Daycoval S.A.">Banco Daycoval S.A.</option>
                    <option value="Lage Landen Brasil S.A.">Banco de Lage Landen Brasil S.A.</option>
                    <option value="Tokyo-Mitsubishi UFJ Brasil S.A.">Banco de Tokyo-Mitsubishi UFJ Brasil S.A.</option>
                    <option value="Banco do Brasil S.A.">Banco do Brasil S.A.</option>
                    <option value="Banco do Estado de Sergipe S.A.">Banco do Estado de Sergipe S.A.</option>
                    <option value="Banco do Estado do Pará S.A.">Banco do Estado do Pará S.A.</option>
                    <option value="Banco do Estado do Rio Grande do Sul S.A.">Banco do Estado do Rio Grande do Sul S.A.</option>
                    <option value="Banco do Nordeste do Brasil S.A.">Banco do Nordeste do Brasil S.A.</option>
                    <option value="Fator S.A.">Banco Fator S.A.</option>
                    <option value="Fibra S.A.">Banco Fibra S.A.</option>
                    <option value="Ficsa S.A.">Banco Ficsa S.A.</option>
                    <option value="Fidis S.A.">Banco Fidis S.A.</option>
                    <option value="Ford S.A.">Banco Ford S.A.</option>
                    <option value="GMAC S.A.">Banco GMAC S.A.</option>
                    <option value="Guanabara S.A.">Banco Guanabara S.A.</option>
                    <option value="Honda S.A.">Banco Honda S.A.</option>
                    <option value="IBM S.A.">Banco IBM S.A.</option>
                    <option value="INBURSA de Investimentos S.A.">Banco INBURSA de Investimentos S.A.</option>
                    <option value="Industrial do Brasil S.A.">Banco Industrial do Brasil S.A.</option>
                    <option value="Indusval S.A.">Banco Indusval S.A.</option>
                    <option value="Investcred Unibanco S.A.">Banco Investcred Unibanco S.A.</option>
                    <option value="Itaú BBA S.A.">Banco Itaú BBA S.A.</option>
                    <option value="Itaú BMG Consignado S.A.">Banco Itaú BMG Consignado S.A.</option>
                    <option value="Itaú Veículos S.A.">Banco Itaú Veículos S.A.</option>
                    <option value="ItaúBank S.A">Banco ItaúBank S.A</option>
                    <option value="Itaucard S.A.">Banco Itaucard S.A.</option>
                    <option value="Itaucard S.A.">Banco J. P. Morgan S.A.</option>
                    <option value="J. Safra S.A.">Banco J. Safra S.A.</option>
                    <option value="John Deere S.A.">Banco John Deere S.A.</option>
                    <option value="Luso Brasileiro S.A.">Banco Luso Brasileiro S.A.</option>
                    <option value="Mercantil do Brasil S.A.">Banco Mercantil do Brasil S.A.</option>
                    <option value="Mizuho do Brasil S.A.">Banco Mizuho do Brasil S.A.</option>
                    <option value="Modal S.A.">Banco Modal S.A.</option>
                    <option value="Original S.A.">Banco Original S.A.</option>
                    <option value="PAN S.A.">Banco PAN S.A.</option>
                    <option value="Paulista S.A.">Banco Paulista S.A.</option>
                    <option value="Petra S.A.">Banco Petra S.A.</option>
                    <option value="Pine S.A.">Banco Pine S.A.</option>
                    <option value="PSA Finance Brasil S.A.">Banco PSA Finance Brasil S.A.</option>
                    <option value="Rabobank International Brasil S.A.">Banco Rabobank International Brasil S.A.</option>
                    <option value="Rendimento S.A.">Banco Rendimento S.A.</option>
                    <option value="Rodobens S.A.">Banco Rodobens S.A.</option>
                    <option value="Safra S.A.">Banco Safra S.A.</option>
                    <option value="Santander (Brasil) S.A.">Banco Santander (Brasil) S.A.</option>
                    <option value="Société Générale Brasil S.A.">Banco Société Générale Brasil S.A.</option>
                    <option value="Sumitomo Mitsui Brasileiro S.A.">Banco Sumitomo Mitsui Brasileiro S.A.</option>
                    <option value="Topázio S.A.">Banco Topázio S.A.</option>
                    <option value="Toyota do Brasil S.A.">Banco Toyota do Brasil S.A.</option>
                    <option value="Triângulo S.A.">Banco Triângulo S.A.</option>
                    <option value="Volkswagen S.A.">Banco Volkswagen S.A.</option>
                    <option value="Volvo (Brasil) S.A.">Banco Volvo (Brasil) S.A.</option>
                    <option value="Votorantim S.A.">Banco Votorantim S.A.</option>
                    <option value="VR S.A.">Banco VR S.A.</option>
                    <option value="Western Union do Brasil S.A.">Banco Western Union do Brasil S.A.</option>
                    <option value="Yamaha Motor S.A.">Banco Yamaha Motor S.A.</option>
                    <option value="BANESTES S.A. Banco do Estado do Espírito Santo">BANESTES S.A. Banco do Estado do Espírito Santo</option>
                    <option value="Banif-Banco Internacional do Funchal (Brasil)S.A.">Banif-Banco Internacional do Funchal (Brasil)S.A.</option>
                    <option value="Bank of America Merrill Lynch Banco Múltiplo S.A.">Bank of America Merrill Lynch Banco Múltiplo S.A.</option>
                    <option value="BBN Banco Brasileiro de Negócios S.A.">BBN Banco Brasileiro de Negócios S.A.</option>
                    <option value="BCV - Banco de Crédito e Varejo S.A.">BCV - Banco de Crédito e Varejo S.A.</option>
                    <option value="BEXS Banco de Câmbio S.A.">BEXS Banco de Câmbio S.A.</option>
                    <option value="BNY Mellon Banco S.A.">BNY Mellon Banco S.A.</option>
                    <option value="BPN Brasil Banco Múltiplo S.A.">BPN Brasil Banco Múltiplo S.A.</option>
                    <option value="Brasil Plural S.A. - Banco Múltiplo">Brasil Plural S.A. - Banco Múltiplo</option>
                    <option value="BRB - Banco de Brasília S.A.">BRB - Banco de Brasília S.A.</option>
                    <option value="Caixa Econômica Federal">Caixa Econômica Federal</option>
                    <option value="China Construction Bank (Brasil) Banco Múltiplo S.A.">China Construction Bank (Brasil) Banco Múltiplo S.A.</option>
                    <option value="Citibank N.A.">Citibank N.A.</option>
                    <option value="Deutsche Bank S.A.">Deutsche Bank S.A. - Banco Alemão</option>
                    <option value="Goldman Sachs do Brasil Banco Múltiplo S.A.">Goldman Sachs do Brasil Banco Múltiplo S.A.</option>
                    <option value="Haitong Banco de Investimento do Brasil S.A.">Haitong Banco de Investimento do Brasil S.A.</option>
                    <option value="Hipercard Banco Múltiplo S.A.">Hipercard Banco Múltiplo S.A.</option>
                    <option value="HSBC Bank Brasil S.A.">HSBC Bank Brasil S.A. - Banco Múltiplo</option>
                    <option value="ING Bank N.V.">ING Bank N.V.</option>
                    <option value="Itaú Unibanco Holding S.A.">Itaú Unibanco Holding S.A.</option>
                    <option value="Itaú Unibanco S.A.">Itaú Unibanco S.A.</option>
                    <option value="JPMorgan Chase Bank">JPMorgan Chase Bank, National Association</option>
                    <option value="MS Bank S.A.">MS Bank S.A. Banco de Câmbio</option>
                    <option value="Paraná Banco S.A.">Paraná Banco S.A.</option>
                    <option value="Scotiabank Brasil S.A.">Scotiabank Brasil S.A. Banco Múltiplo</option>
                    <option value="Standard Chartered Bank (Brasil) S/A–Bco Invest.">Standard Chartered Bank (Brasil) S/A–Bco Invest.</option>
                    <option value="UBS Brasil Banco de Investimento S.A.">UBS Brasil Banco de Investimento S.A.</option>
                </select>
            </label>
            <div class="spacer" style="height: 32px;"></div>
            <ion-toggle toggle-class="toggle-positive" ng-checked="true" name="notes[2]">R$ 2,00</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" ng-checked="true" name="notes[5]">R$ 5,00</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" name="notes[10]">R$ 10,00</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" name="notes[20]">R$ 20,00</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" name="notes[50]">R$ 50,00</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" name="notes[100]">R$ 100,00</ion-toggle>
            <div class="spacer" style="height: 32px;"></div>
            <button id="adicionarAgencia-add" class="button button-positive  button-block icon-left ion-ios-plus-outline">Adicionar</button>
        </form>
    </ion-content>
</ion-view>