<ion-view title="Agências" id="agencias">
    <ion-content overflow-scroll="true" class="has-header">
        <ion-list>
            <ion-item class="agency-item item-thumbnail-left item-text-wrap" collection-repeat="agencia in agencias">
            	<img class="agency-icon" ng-src="{{agencia.icon}}" alt="">
            	<strong>{{agencia.bank}}: {{agencia.agency}}</strong>
            	<div class="agency-info">
            		<span class="agency-note" ng-repeat="note in agencia.notes">{{note}}</span><br>
            		<address>{{agencia.address}}</address>
            	</div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
