<ion-view title="Mapa" id="mapa">
    <ion-nav-buttons side="right">
      <button ng-click="minhaLocalizacao()" class="button button-positive icon ion-ios-navigate-outline"></button>
    </ion-nav-buttons>
    <ion-content padding="false" class="has-header">
  		<ui-gmap-google-map data-tap-disabled="true" center='map.center' zoom='map.zoom' events='map.events'>
  			<ui-gmap-marker
	        idKey='"voce"'
	        coords='voce'
	        options='voce.options'>
  			</ui-gmap-marker>
  			<ui-gmap-markers
        	models="agencias"
        	idKey="'_id'"
        	coords="'self'"
        	icon="'marker'">
        </ui-gmap-markers>
  		</ui-gmap-google-map>
    </ion-content>
</ion-view>
